# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# React / Node
sales_frontend/node_modules/
sales_frontend/dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

flask_test.py